/* layout主內容 */
.main {
    margin: 0;
    padding: 0;
}

/* layout header */
.menuIcon {
    text-align: left;
}

.search {
    float: right;
    margin: 5px 20px;
}

.search>input::placeholder {
    font-size: smaller;
}

/* content start */
.sideBar {
    width: 12%;
    /* 扣掉footer 3rem */
    height: calc(100% - 3rem);
    background-color: rgb(255, 255, 255);
    text-align: center;

}

.sideBar img {
    width: 95%;
}

.year {
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: rgba(173, 203, 199, 1);
}

/* 財報 */
.finance {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.finance p {
    font-size: 12px;
    align-self: first baseline;
    margin-bottom: 0;
}

.finance div {
    width: 100%;
    background-color: rgba(245, 243, 243, 1);
    border-radius: 10%;
    height: 1.5rem;
    align-self: center;
    padding: 0;
    margin-bottom: 10px;

}

/* 右半部 */
.right {
    padding: 0.5rem;;
    width: 88%;
    /* 扣掉footer 3rem */
    height: calc(100% - 3rem);
}

.month {
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
}

.month p {
    font-size: 3.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgba(120, 60, 60, 1);
    padding-left: 3rem;
}

.month img {
    width: 80px;
    height: 80px;
}

.weekDays {
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
}

.weekDays p {
    font-family: 'Courier New', Courier, monospace;
}

/* calender */
.calender {
    width: 100%;
    /* 扣除 month 5rem 、 weekdays 1.5rem*/
    height: calc(100% - 6.5rem);

}

.singleDay {
    width: calc(100% / 7);
    height: calc(100% / 5);
    border: 1px solid rgb(151, 151, 151);
}

.day {
    margin: 0 1rem 0 1rem;
}

.firstLayer {
    height: 30%;
    padding: 0.2rem 0.5rem;
}

.firstLayer>span>span {
    font-size: smaller;
}

.middleLayer {
    height: 40%;
    text-align: center;
}

.middleLayer li {
    font-size: 12px;
    margin: 0;
    color: rgb(115, 185, 250);
}

.endLayer {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 240, 184);
    height: 30%;
    padding-top: 3px;
    font-size: smaller;
    font-weight: 500;

}

.endLayer img {
    border-radius: 50%;
    padding-right: 5px;
}

/* footer  */
.footer {
    height: 3rem;
    margin: 0;
    padding-top: 1rem;
    background-color: rgba(190, 61, 61, 1);
    text-align: center;
}

.footer span {
    margin: 0 1rem 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: aliceblue;
}

.footerImg {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    left: 50px;
}