.content {
    width: 100vw;
    /* height: calc(100% - 40px); */
    height: 100%;
    padding: 0;
    margin: 0;
    /* border: 1px solid blue; */
}

/* layout主內容 */
.main {
    margin: 0;
    padding: 0;
}

/* layout header */
.menuIcon {
    text-align: right;
    height: 40px;
}

.search {
    position: absolute;
    right: 10px;
}

.search>button,
.search>input,
.search>select,
.search>input::placeholder {
    height: 30px;
}

.search>select,
.search>input::placeholder {
    font-size: smaller;
}

/* content start */
.sideBar {
    width: 12%;
    /* 扣掉footer 3rem */
    height: calc(100% - 3rem);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.sideBar img {
    width: 95%;
}

.year {
    font-size: 1.8rem;
    line-height: 1.5rem;
    color: rgba(173, 203, 199, 1);
}

.yearUnderLine {
    width:50%;
    margin:0 auto
}

/* 財報 */
.finance {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    position: relative;
    top: 120px;
}

.finance p {
    font-size: 12px;
    align-self: first baseline;
    margin-bottom: 0.3rem;
}

.finance div {
    width: 100%;
    background-color: rgba(245, 243, 243, 1);
    border-radius: 10%;
    height: 1.5rem;
    align-self: center;
    padding: 3px 0 0 0;
    margin-bottom: 10px;
    font-size: smaller;
}

/* 右半部 */
.right {
    padding: 1rem;
    width: 88%;
    /* 扣掉footer 3rem */
    height: calc(100% - 3rem);
    /* border: 1px solid red; */
}

.month {
    width: 100%;
    height: 5rem;
    background-color: rgb(255, 255, 255);
}

.month p {
    font-size: 3.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    color: rgba(120, 60, 60, 1);
    padding-left: 3rem;
}

.month img {
    width: 80px;
    height: 80px;
}

.weekDays {
    display: flex;
    justify-content: space-around;
    height: 1.5rem;
}

.weekDays p {
    font-family: 'Courier New', Courier, monospace;
}

/* calender */
.calender {
    width: 100%;
    /* 扣除 month 5rem 、 weekdays 1.5rem*/
    height: calc(100% - 6.5rem);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.singleDay:nth-child(odd) {
    background-color: rgb(245, 242, 238);
}

.singleDay {
    width: calc(100% / 7);
    height: calc(100% / 5);
    border: 1px solid rgb(236, 236, 236);
    box-sizing: border-box;
    text-align: center;
}

.todayBg {
    background-color: rgba(255, 238, 150, 1)
}

.plusIcon {
    margin: 0 auto;
    z-index: 999;
    display: none;
    transform: translate(25%, 50%);
}

.singleDay:hover .plusIcon {
    display: block;
}


.day {
    margin: 0 1rem 0 0.5rem;
    font-size: smaller;
}

.sat {
    color: rgba(107, 171, 3, 1);
}

.sun {
    color: rgba(190, 61, 61, 1)
}

.mc {
    background-color: rgb(253, 179, 179);
    border-radius: 50%;
    padding: 0 3px;
}

.firstLayer {
    height: 30%;
    padding: 0.2rem 0.5rem;
    padding-top: 0.4rem;
}

.bthd {
    font-size: smaller;
}

.middleLayer {
    height: 40%;
    text-align: start;
    padding-left: 2rem;
}

.middleLayer li {
    font-size: 12px;
    margin: 0;

}

.calPlan {
    color: rgb(32, 157, 230);
}

.calDes {
    color: brown;
}

.endLayer {
    display: flex;
    justify-content: center;
    height: 30%;
    padding-top: 0.4rem;
    font-size: smaller;
    font-weight: 800;

}

.endLayer img {
    border-radius: 50%;
    padding-right: 5px;
}

/* 增加行程model */
.modal-body p,
label,
input {
    margin: .3rem;
    font-size: small;
}

.modal-body p {
    color: brown;
}

/* footer  */
.footer {
    height: 3rem;
    margin: 0;
    padding-top: .8rem;
    background-color: rgba(190, 61, 61, 1);
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: aliceblue;
}

.footer a:hover {
    text-decoration: none;
    font-size: larger;

}

.footer a {
    margin: 0 2rem 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
    color: aliceblue;
}

.footerImg {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    left: 50px;
}